@import '../../../assets/mixins.scss';

.forecast-card {
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-prop('padding', 1, 2);
  }

  &__weekday {
    color: var(--info-second-color);
    @include adaptive-prop('font-size', 1.4, 2);
    font-weight: 700;
  }

  &__icon {
    height: 6.5vw;
    width: 6.5vw;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__temp {
    @include adaptive-prop('font-size', 1.4, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &_max {
      color: var(--info-color);
    }

    &_min {
      color: var(--info-second-color);
    }
  }
}
